<div class="grid grid-cols-4">
    <div class="col-start-2 col-span-2">
        <% if(elections.length==null) { %>
            <div><span> Massege: For New Election user</span></div>
        
        <%   
        }
        else{
        %>
        <div class="election-list">
            <p>Total number of election: <%=elections.length%></p>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                
               
                <th scope="col" class="px-6 py-3">S.No.</th>
                <th scope="col" class="px-6 py-3">Election Name</th>
                <th scope="col" class="px-6 py-3">Ballot(Question for voter)</th>
                <th scope="col" class="px-6 py-3">Edit option</th>
                <th scope="col" class="px-6 py-3">Delete option </th>
                <th scope="col" class="px-6 py-3">Manage option </th>
                <th scope="col" class="px-6 py-3">View option </th>
                

            </tr>
        </thead>
    
            <% for(let i = 0; i < elections.length; i++) { %>
            
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <td class="px-6 py-4"><%= i+1%> </td>
                        <td class="px-6 py-4"><%= elections[i].name %></td>
                        <td class="px-6 py-4"><a href="/elections/<%= elections[i].id %>/ballot">click here</a></td>
                        <td class="px-6 py-4"><a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a></td>
                        <td class="px-6 py-4"><a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a></td>
                        <td class="px-6 py-4"><a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Manage</a></td>
                        <td class="px-6 py-4"><a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a></td>
                
                
                
               
                
                
            </tr>
            <% } %>
            
        </table>
        <%
        }
        %>
        </div>
  </div>
</div>