<div class="grid grid-cols-4">
    <div class="col-start-2 col-span-2">
        <% if(elections.length==null) { %>
            <div><span> Massege: For New Election user</span></div>
        
        <%   
        }
        else{
        %>
        <div class="election-list">
            <p>Total number of election: <%=elections.length%></p>
        </div>
        <table class="border-collapse border border-slate-400">
            <tr>
                
               
                <td class="border-2 border-rose-600 font-bold">S.No.</td>
                <td class="border-2 border-rose-600 font-bold">Election Name</td>
                <td class="border-2 border-rose-600 font-bold">Ballot(Question for voter)</td>
                <td class="border-2 border-rose-600 font-bold">Edit option</td>
                <td class="border-2 border-rose-600 font-bold">Delete option </td>
                

            </tr>
        
    
            <% for(let i = 0; i < elections.length; i++) { %>
            <tr>
                <td class="border border-slate-500"><%= i+1%> </td>
                <td class="border border-slate-500"><%= elections[i].name %></td>
                <td class="border border-slate-500 content-center">
                    <a href="/elections/<%= elections[i].id %>/ballot">click here</a></td>
                <td class="border border-slate-500"><i class="bi bi-pencil-square"></i></td>
                <td class="border border-slate-500"><i class="bi bi-x-octagon-fill"></i></td>
                
                
                
               
                
                
            </tr>
            <% } %>
            
        </table>
        <%
        }
        %>
  </div>
</div>