body{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    
    
    color:rgb(37, 13, 13);
        font-family: 'Courier New', Courier, monospace;
        
}
.Todo-item:hover .trash-icon{
    display: block;
    }
.gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
      }